@charset "utf-8";
/*	for printer
=================================================================== */
@media print {
	#fontSizeChange {
		display: none;
	}
	#search {
		display: none;
	}
	#recommend #visitorMenu {
		display: none;
	}
	#topFooter #fMenu {
		display: none;
	}
	#topFooter #footerWrap {

	}
	#topFooter #footerSpace {

	}
}
